.comparison-slider-wrapper {
  position: relative;
  width: 100%;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5); }
  .comparison-slider-wrapper .comparison-slider {
    position: relative;
    width: 100%;
    margin: 0; }
    .comparison-slider-wrapper .comparison-slider > img {
      width: 100%;
      height: auto;
      display: block;
      user-select: none;
      -webkit-user-select: none; /* Chrome/Safari */
    }
    .comparison-slider-wrapper .comparison-slider .overlay {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      user-select: none;
      -webkit-user-select: none; /* Chrome/Safari */

    }
      @media screen and (min-width: 484px) {
        .comparison-slider-wrapper .comparison-slider .overlay {
          display: block; } }
    .comparison-slider-wrapper .comparison-slider .resize {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 50%;
      overflow: hidden; 
      user-select: none;
      -webkit-user-select: none; /* Chrome/Safari */

    }
      .comparison-slider-wrapper .comparison-slider .resize > img {
        display: block;
        user-select: none;
        -webkit-user-select: none; /* Chrome/Safari */

      }
    .comparison-slider-wrapper .comparison-slider .divider {
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      left: 50%;
      top: 0;
      bottom: 0;
      margin-left: -1px;
      cursor: ew-resize;
      user-select: none;
      -webkit-user-select: none; /* Chrome/Safari */

    }
      .comparison-slider-wrapper .comparison-slider .divider:before {
        content: "";
        position: absolute;
        width: 34px;
        height: 34px;
        left: -15px;
        top: 50%;
        margin-top: -17px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.3);
        transition: all 0.1s ease-in-out; }
      .comparison-slider-wrapper .comparison-slider .divider:after {
        content: "\2039\a0\203A";
        position: absolute;
        font-size: 28px;
        top: 50%;
        margin-top: -24px;
        margin-left: -12px;
        color: #ffffff;
        font-weight: 900;
        text-align: center;
        transition: all 0.1s ease-in-out; }
      .comparison-slider-wrapper .comparison-slider .divider.draggable:before {
        width: 40px;
        height: 40px;
        left: -18px;
        margin-top: -20px; }
html, body {
  overflow: hidden;
}
.custom-div-left {
  background-color: rgba(0, 0, 0, 0.2); /* 黑色背景，透明度为 0.2 */
  border-radius: 10px; /* 圆角 */
  padding: 10px; /* 内边距 */
  font-family: Arial, sans-serif; /* 黑体 */
  font-size: 16px; /* 字号 */
  color: #ffffff; /* 文字颜色为白色 */
  position: fixed; /* 固定位置 */
  bottom: 20px; /* 底部距离 20px */
  left: 20px; /* 左侧距离 20px */
  box-sizing: border-box; /* 防止 padding 影响大小 */
  max-width: calc(100% - 40px); /* 防止宽度超出屏幕 */
  overflow-wrap: break-word; /* 保持文字在较小宽度时不溢出 */
}
.custom-div-right {
  background-color: rgba(0, 0, 0, 0.2); /* 黑色背景，透明度为 0.2 */
  border-radius: 10px; /* 圆角 */
  padding: 10px; /* 内边距 */
  font-family: Arial, sans-serif; /* 黑体 */
  font-size: 16px; /* 字号 */
  color: #ffffff; /* 文字颜色为白色 */
  position: fixed; /* 固定位置 */
  bottom: 20px; /* 底部距离 20px */
  right: 20px; /* 左侧距离 20px */
  box-sizing: border-box; /* 防止 padding 影响大小 */
  max-width: calc(100% - 40px); /* 防止宽度超出屏幕 */
  overflow-wrap: break-word; /* 保持文字在较小宽度时不溢出 */
}